* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(accordionimage.jpg) no-repeat center center/ cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

.accordion {
    background: #fff;
    border-radius: 30px;
    padding: 20px;
    width: 65%;
}

.accordion .accordion-title {
    font-size: 2rem;
    padding-bottom: 15px;
    text-align: center;
}

.accordion .content-container .question {
    border-bottom: 1px solid #000;
    cursor: pointer;
    font-size: 2rem;
    padding-bottom: 5px;
    position: relative;
}

.accordion .content-container .question::after {
    content: '+';

    position: absolute;
    right: -5px;
}

.accordion .content-container .answer {
    font-size: 22px;
    line-height: 1.5;
    padding-top: 15px;
    width: 100%;

    height: 0;
    overflow: hidden;
    transition: .5s;
}


/* Javascript styling */
.accordion .content-container.active .answer {
    height: 150px;
}

.accordion .content-container.active .question {
    font-size: 1rem;
}

.accordion .content-container.active .question::after {
    content: '-';

    font-size: 30px;
    transition: .5s;
    bottom: 5px;
}